<link rel="stylesheet" href="home.css">
<nav class="navbar">
	<ul>
		<li><a href="/users/login">Log In</a></li>
		<li><a href="/users/new">Sign Up!</a></li>
		<li><a href="/articles/new">New Article</a></li>
		<li><a href="/articles/">All Articles</a></li>
	</ul>
</nav>