	<nav class="navbar">
		<div class="logo">
			<img src="logo.png">
		</div>
	</nav>
	<div class="buttons">
		<div class="button"><a href="users/login">Log In</a></div>
		<p>- or -</p>
		<div class="button"><a href="users/new">Sign Up</a></div>
	</div>
	<div class="featured">
		<h5>Today's Featured Article</h5>
		<%if (featuredArticle) { %>
		<h1><%= featuredArticle.title %></h1>
		<h3><%= featuredArticle.author %></h3>
		<img src="<%= featuredArticle.image%>">
		
		<p><%= featuredArticle.content %></p>
</div>

<%}%>