<link rel="stylesheet" href="home.css">
<nav class="navbar">
	<ul>
		<li><a href="/users/login">Log In</a></li>
		<li><a href="/users/new">Sign Up!</a></li>
		<li><a href="/articles/new">New Article</a></li>
		<li><a href="/articles/">All Articles</a></li>
		<li><a href="/users">View All Users</a>
	</ul>
</nav>
<h1></h1>
<div class="featured">
	<h3>Featured Article</h3>
</div>