<link rel="stylesheet" href="home.css">
<div id="column1">	
	<nav class="navbar">
		<ul>
			<li><a href="/users/login">Log In</a></li>
			<li><a href="/users/new">Sign Up!</a></li>
			<li><a href="/articles/new">New Article</a></li>
			<li><a href="/articles/">All Articles</a></li>
			<li><a href="/users">View All Users</a>
		</ul>
	</nav>
</div>
<div id="column2">
	<h1>Speak Up!</h1>
	<p>Say it outloud</p>
	<div class="featured">
		<h5>Today's Featured Article</h5>
		<%if (featuredArticle) { %>
		<h1><%= featuredArticle.title %></h1>
		<h3><%= featuredArticle.author %></h3>
		<img src="<%= featuredArticle.image%>">
		
		<p><%= featuredArticle.content %></p>
</div>
</div>
<%}%>