<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/common.css">
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>
	<div class="container">
		
		<div class="content">
		<a id="nav-toggle" href="#"><span></span></a>
			<%- body %>
		</div>
	</div>
	<script src="/frontend.js"></script>
</body>
</html>