<%#/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~~*/
</*					 EJS INDEX FORM				    /
/*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*/%>	

<nav class="navbar">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/articles/new">New Article</a></li>
		<li><a href="/users/">View All Users</a></li>
	</ul>
</nav>
<div class="index">
	<h1>All Articles</h1>
	<dl>
		<% articles.forEach(function(article, i) { %> 
			<a href="/articles/<%= article._id%>">
				<dt><%= article.title %></dt>
			</a>
		 <% }); %>
		 <a href="/articles/new">Write A New Article!</a>
	</dl>
</div>