<link rel="stylesheet" href="/new.css">
<div id="column1">
	<nav class="navbar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/articles/">All Articles</a></li>
			<li><a href="/users/">View All Users</a>
			<li><a href="/users/new">Sign Up</a></li>
			<li><a href="/users/login">Log In</a></li>
		</ul>
	</nav>
</div>
<div id="column2">
	<h1>New Article</h1>
	<form action="/articles" method="post">
		<label>Title</label>
		<input type="text" name="article[title]">
		<label>Content</label>
		<textarea name="article[content]"></textarea>
		<label>Category</label>
		<input type="text" name="article[category]">
		<label for="Submit Article!"></label>
		<input type="text" name="article[image]">
		<input type="submit" value="Submit Article!">
	</form>
</div>


