.index {
  height: 75%;
  width: 50%;
  margin: auto;
  background-color: #E8E8E8;
  top: 60px;
  position: relative;
  text-align: left;
  border-radius: 10px;
}

.index a {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  text-align: left;
  left: 35%;
  font-size: 20px;
}

.index a:hover {
	color: #EA6060;
}

.index h1 {
	text-align: center;
}




