<div class="container">
	
<nav class="navbar">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/users/new">Sign Up</a></li>
		<li><a href="/articles/new">New Article</a></li>
		<li><a href="/articles/">All Articles</a></li>
	</ul>
</nav>
<img src="https://pipingdreams.files.wordpress.com/2012/09/chocolate-buttercream-5.jpg" class="profile-img"/>
<div class="profile-container">
<div class="index">	
	<h1>Current Users</h1>
	<dl>
		<% users.forEach(function(user, i) { %> 
			<a href="/users/<%= user._id%>">
				<dt><%= user.username %></dt>
			</a>
		 <% }); %>
	</dl>
</div>
</div>