<div class="container">
	
<nav class="navbar">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/users/new">Sign Up</a></li>
		<li><a href="/articles/new">New Article</a></li>
		<li><a href="/articles/">All Articles</a></li>
	</ul>
</nav>
<img src="https://work.chron.com/DM-Resize/photos.demandstudios.com/getty/article/81/23/78376180.jpg?w=650&h=406&keep_ratio=1&webp=1" class="profile-img"/>
<div class="profile-container">
<div class="index">	
	<h1>Current Users</h1>
	<dl>
		<% users.forEach(function(user, i) { %> 
			<a href="/users/<%= user._id%>">
				<dt><%= user.username %></dt>
			</a>
		 <% }); %>
	</dl>
</div>
</div>