<link rel="stylesheet" href="/index.css">
<nav class="navbar">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/users/new">Sign Up</a></li>
		<li><a href="/articles/new">Create New Article</a></li>
		<li><a href="/articles/">View All Articles</a></li>
	</ul>
</nav>
<div class="index">	
	<h1>Current Users</h1>
	<dl>
		<% users.forEach(function(user, i) { %> 
			<a href="/users/<%= user._id%>">
				<dt><%= user.username %></dt>
			</a>
		 <% }); %>
	</dl>
</div>