
<nav class="navbar">
	<ul>
		<li><a href="/users/login">Log In</a></li>
		<li><a href="/">Home</a></li>
	</ul>
</nav>
<form action="/users" method="post">
	<label>Username: </label>
	<input type="text" name="user[username]" placeholder="Username">
	<label>Password: </label>
	<input type="password" name="user[password]" placeholder="Password">
	<input type="submit" value="Sign Up!">
</form>